:root {
	--azul: #2C5483;
	--azuloscuro: #143c69;
	--naranja: #FD8126;
	--naranjaoscuro: #d35800;
	--gris: #8A8A8A;
	--grisclaro: #E3E3E3;
	--rojo: #DE5C5D;



}

@media (width <1400px) {
	.productos .caja-productoshome .caja-img-new {

		height: 165px;

	}
}
